[global]
  server string = Samba server
  realm = pi
  log file = /var/log/samba/%m
  log level = 1
  server role = standalone server
  load printers = no
  default case = lower
  short preserve case = yes
  preserve case = yes
  unix password sync = no
  map to guest = bad user
  usershare allow guests = no
  follow symlinks = yes
  disable spoolss = yes

#============================ Share Definitions ==============================